@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lobster Two", cursive;
  font-size: 16px;
  font-weight: 500;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 0 48px;
  height: 84px;
  position: sticky;
  top: 0;
  transition: background-color 0.4s ease-in-out;
  z-index: 100;
}

.navbar.scrolled {
  background-color: white;
}
.navbar .navbar-left {
  font-size: 50px;
  padding: 15px 0;
  margin-right: 261px;
  align-items: center;
}
.navbar .navbar-left i {
  color: rgb(254, 93, 55);
}

.navbar .navbar-left .brand {
  color: rgb(254, 93, 55);
  cursor: pointer;
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  font-weight: 700;
}

.navbar .navbar-center {
  display: flex;
  align-items: center;
}

.navbar .navbar-center .nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 30px 15px;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.navbar .navbar-center .nav-link.orange {
  color: #ff5a3c;
}

.navbar .navbar-center .nav-link:hover {
  color: #ff5a3c;
}

.navbar .navbar-center .dropdown {
  position: relative;
  z-index: 1000;
}

.navbar .navbar-center .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .navbar-center .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .navbar-center .dropdown .dropdown-content a {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.navbar .navbar-center .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.navbar .navbar-right {
  display: flex;
  align-items: center;
  margin-left: 261px;
}

.navbar-right a {
  background-color: #fe5d37;
  border-color: #fe5d37;
  padding: 6px 16px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Heebo, sans-serif;
  font-weight: 500;
}
.navbar-right a i {
  margin-left: 16px;
}

/* -------------------------------------------- */
/* banner */

.banner .border-images::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 90p;
  left: 0;
  background: url(./img/bg-header-top.png) center center repeat-x;
  z-index: 99;
}
.banner .border-images::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;

  bottom: 0;
  background: url(./img/bg-header-bottom.png) center center repeat-x;
}
.banner .second-slider .item .container .bgImg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/carousel-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner .second-slider .item .container .bgImg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.banner .second-slider .item .container {
  position: relative;
}
.content-banner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 12px;
}

.banner-sub-content {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  width: 55%;
}
.banner .second-slider .item .container .content-banner .banner-sub-content h5 {
  color: rgb(6, 187, 204);
  display: block;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.banner .second-slider .item .container .content-banner .banner-sub-content h1 {
  color: white;
  display: block;

  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
  margin-top: 20px;
}

.banner-sub-content p {
  color: white;
  display: block;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
.banner-sub-content .button {
  display: flex;
  gap: 20px;
}
.banner-sub-content .button a {
  padding: 16px 48px;
  background: #fe5d37;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* owl */

.second-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-next
  span {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid #ffffff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: 0.5s;
  font-size: 50px;
  font-weight: 100;
  border-radius: 50%;
  cursor: pointer;
  padding-bottom: 10px;
}
.second-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-next
  span:hover {
  background-color: #e04a2b;
  border: none;
}
.second-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-prev
  span:hover {
  background-color: #e04a2b;
  border: none;
}

.second-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-prev
  span {
  position: absolute;
  top: 60%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid #ffffff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: 0.5s;
  font-size: 50px;
  font-weight: 100;
  border-radius: 50%;
  cursor: pointer;
  padding-bottom: 10px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #fff;
  text-decoration: none;
  background: #0088cc;
}

/* ----------------------- */
/*facilities  */
#facilities-section {
  padding: 48px 12px;
}
.facilities-section .main-container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.facilities-section {
  text-align: center;
  background-color: #f9f9f9;
}
.facilities-section .heading {
  margin: 0 258px 48px 258px;
}
.facilities-section h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(16, 55, 65);
}
.facilities-section p {
  color: rgb(116, 120, 124);
  display: block;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.facilities-container {
  display: flex;
  justify-content: space-between;
}
.facilities-container .container-1 {
  margin-top: 24px;
  padding: 0 12px;
}
.facility-item .facility-icon {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5d37;
}
.facility-item .facility-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
  border-radius: 50%;
}
.facility-item .facility-icon span {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fe5d37;
  opacity: 0.1;
}
.facility-icon i {
  color: #fe5d37;
  z-index: 1;
}

.facility-item .facility-icon span:last-child {
  left: auto;
  right: 0;
}
.facility-item .facility-text {
  position: relative;
  min-height: 250px;
  padding: 30px;
  border-radius: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fe5d37;
}
.facility-item .facility-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}
.facility-text h3 {
  color: rgb(254, 93, 55);
  font-family: "Lobster Two", cursive;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  z-index: 2;
}

.facility-text p {
  color: rgb(116, 120, 124);
  font-family: Heebo, sans-serif;

  font-size: 16px;
  margin-bottom: 16px;
  z-index: 2;
}
.facility-item:hover i,
.facility-item:hover h3,
.facility-item:hover p {
  color: #ffffff;
}
.facility-item:hover .facility-icon span {
  opacity: 1;
}
.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
  background: transparent;
  cursor: pointer;
}

/* --------------------------------------- */
/* work-culture */
#work-culture {
  padding: 48px 12px;
}
.work-culture .main-container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.work-section h2 {
  font-size: 36px;
  margin-bottom: 24px;
}
.work-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 16px;
}
.work-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.work-text {
  flex: 1;
  padding: 20px;
  margin-top: 48px;
  padding: 0 24px;
}
.work-images {
  flex: 1;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-images .img-1 {
  width: 400px;
  height: 400px;
  padding: 16px;
  background-color: #fff5f3;
}
.work-images .img-2 {
  width: 225px;
  height: 225px;

  margin-top: -125px;
  position: absolute;
  padding: 16px;
  background-color: #fff5f3;
}
.work-images img:hover {
  background: rgb(254, 93, 55);
  transition: 0.5s;
}

.work-images .img-3 {
  position: absolute;
  right: 200px;
  /* top: 125px; */
  /* top: 20px; */
  margin-top: -125px;
  width: 225px;
  height: 225px;
  padding: 16px;
  background-color: #fff5f3;
}
.work-images img {
  border-radius: 50%;

  object-fit: cover;
}
.cta-button {
  background-color: #ff5a3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 200px;
}
.cta-button:hover {
  background-color: #e04a2b;
}
.author-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.author-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.author-info .author-name {
  font-weight: bold;
  color: #333;
}
.author-info .author-role {
  color: #999;
}

/* teacher-section */
#teacher-section {
  padding: 96px 12px;
}
.teacher-section .main-container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.teacher-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  background-color: #fff5f3;
  border-radius: 10px;
  overflow: hidden;
}
.teacher-image {
  flex: 1;
}
.teacher-image img {
  width: 100%;
  height: auto;
}
.teacher-content {
  flex: 1;
  padding: 48px;
}
.teacher-content h2 {
  margin-bottom: 24px;
  color: rgb(16, 55, 65);
  display: block;
  font-size: 40px;
  font-weight: 700;
}
.teacher-content p {
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.teacher-content .button {
  background-color: #ff5a3c;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;

  justify-content: center;
}
.teacher-content .button:hover {
  background-color: #e04a2b;
}
.teacher-content .button i {
  margin-left: 8px;
  padding: 3px 0;
}

/* ----------------------------------------- */
/* school-classes */
#school-classes {
  padding: 48px 12px;
}
.school-classes .main-container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
  text-align: center;
}
.school-classes .main-container .heading {
  margin: 0 258px 48px 258px;
}
.school-classes .main-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(16, 55, 65);
}
.school-classes .main-container p {
  color: rgb(116, 120, 124);
  display: block;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.classes-container {
  display: flex;
  justify-content: space-between;
}
.class-card {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
  text-align: left;
}
.class-card:hover {
  margin-top: -10px;
  transition: 0.5s;
  cursor: pointer;
}
.class-card .img-content img {
  height: 234px;
  width: 234px;
  margin: 0 40px;
  padding: 16px;
  background: #fff5f3;
  border-radius: 50%;
}
.class-card-content {
  padding: 48px 24px 24px 24px;
  text-align: center;
  background: #fff5f3;
  margin-top: -48px;
  width: 307px;
}
.class-card-content h3 {
  margin-bottom: 24px;
  margin-top: 16px;
  font-size: 28px;
  font-weight: 700;
  color: #103741;
}
.class-card-content p {
  font-size: 14px;
  color: #666;
  margin: 0;
}
.class-card-content .identity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.class-card-content .identity .identity-img {
  display: flex;
  gap: 16px;
  text-align: left;
}
.class-card-content .identity .identity-img img {
  border-radius: 50%;
}
.class-card-content .identity .identity-img h6 {
  color: rgb(254, 93, 55);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.class-card-content .identity .identity-img small {
  font-family: Inter, sans-serif;
  font-size: 14px;
}

.class-card-content .identity span {
  background-color: #fe5d37;
  padding: 8px 16px;
  height: 40px;
  border-radius: 50%;
  color: white;
}

.qualities-student .quality-1 .border h6 {
  color: rgb(254, 93, 55);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.qualities-student {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.qualities-student .quality-1 {
  margin-top: 4px;
  padding: 0 2px;
}
.border {
  padding-top: 8px;

  border-top: 3px solid #fe5d37 !important;
}

/* ------------------------ */
/* appointment */
#appointment-sectio {
  padding: 48px 12px;
}
.appointment-section .main-container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.appointment-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;

  background: #fff5f3;
}
.appointment-form {
  flex: 1;
  padding: 40px;
  text-align: left;
}
.appointment-form form .name {
  margin-right: 16px;
}
.appointment-form h2 {
  font-size: 40px;
  margin-bottom: 24px;
}
.appointment-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.appointment-form input,
.appointment-form textarea {
  width: calc(50% - 10px);
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 58px;
  outline: none;
}
.appointment-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.appointment-form .full-width {
  width: 100%;
}
.appointment-form .submit-button {
  background-color: #ff5a3c;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}
.appointment-form .submit-button:hover {
  background-color: #e04a2b;
}
.appointment-image {
  flex: 1;
}
.appointment-image img {
  height: 490px;
  width: 558px;

  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* --------------------------------- */
/* popular-teachers */
#popular-teachers {
  padding: 48px 12px;
}
.popular-teachers .main-container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
  text-align: center;
}
.teachers-section .heading {
  margin: 0 258px 48px 258px;
}
.teachers-section h2 {
  margin-bottom: 24px;
  color: rgb(16, 55, 65);
  display: block;
  font-size: 40px;
  font-weight: 700;
}
.teachers-section p {
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.teacher-card {
  position: relative;
}
.social-icons-content {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 250px;
  transition: 0.5s;
  border: 17px solid #fff5f3;
}
.social-icons-content .icons {
  display: flex;
  gap: 10px;
}

.social-icons-content a i {
  background: red;
  color: white;
  padding: 8px;
  border-radius: 50%;
}

.teacher-card img {
  height: 467px;
  width: 266px;
  border-radius: 50%;
}
.teachers-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.teacher-card:hover .social-icons-content {
  border: 17px solid #fe5d37;
  cursor: pointer;
}

/* ------------------------------------------- */
/* client */
#client-section {
  padding: 48px 12px;
}
.client-section .main-container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
  text-align: center;
}
.testimonials-section .heading {
  margin: 0 258px 48px 258px;
}
.testimonials-section h2 {
  margin-bottom: 24px;
  color: rgb(16, 55, 65);
  display: block;
  font-size: 40px;
  font-weight: 700;
}
.testimonials-section p {
  font-family: Heebo, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
  color: rgb(116, 120, 124);
}

.testimonials-container {
  display: flex;
  text-align: left;
}
.testimonial-card {
  padding: 48px;
  margin-right: 24px;
  background: #fff5f3;
}
.client-info {
  display: flex;
  /* justify-content: flex-end; */
  background: white;
  border-radius: 50px 0 0 50px;
}
.client-info img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.client-info h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #103741;
}
.client-info span {
  color: rgb(116, 120, 124);
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.client-info .padding {
  padding-left: 16px;
}
.quote-icon {
  margin-left: 145px;
  font-size: 48px;
  color: orange;
}
.owl-carousel .owl-item img {
  display: block;
  width: 90px;
}
.testimony-slider {
  padding: 0 24px;
}
.testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag > div.owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimony-slider .item {
  width: 559px;
}

.testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-next {
  position: absolute;

  display: flex;
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #ff5a3c;
  border-radius: 45px;
  font-size: 40px;
  transition: 0.5s;
}
.testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-next:hover {
  background-color: #e04a2b;
  border: none;
}
.testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-prev:hover {
  background-color: #e04a2b;
  border: none;
}

.testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-prev {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #fe5d37;
  border-radius: 45px;
  font-size: 40px;
  transition: 0.5s;
}
.testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-prev
  span,
.testimony-slider.owl-carousel.owl-theme.owl-loaded.owl-drag
  > div.owl-nav
  button.owl-next
  span {
  padding-bottom: 10px;
}

/* footer */
#footer {
  margin-top: 48px;
  background-color: #103741;
  color: white;
  padding: 48px 12px;
}
.footer .main-container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-section {
  flex: 1;
  padding: 0 24px;
}
.footer-section h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 10px;
}
.footer-section ul li a i {
  margin-right: 16px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
}
.footer-section ul li a:hover {
  text-decoration: underline;
}
.footer-section .contact-info {
  display: flex;
  flex-direction: column;
}
.footer-section .contact-info div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.footer-section .contact-info div img {
  margin-right: 10px;
}

.footer-section .social-icons {
  display: flex;
  margin-top: 16px;
}
.footer-section .contact-info .social-icons a i {
  border: 1px solid white;
  padding: 6px;
  border-radius: 50%;
}
.footer-section .social-icons a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.footer-section .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
.footer-section .gallery img {
  height: 75px;
  width: 75px;
  padding: 4px;
  background: white;
  border-radius: 10px;
}
.footer-section .newsletter {
  display: flex;
  flex-direction: column;
}
.footer-section .newsletter input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.footer-section .newsletter button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00aaff;
  color: #ffffff;
  cursor: pointer;
}
.footer-section .newsletter button:hover {
  background-color: #0077cc;
}

.footer-section .contact-info i {
  margin-right: 16px;
}

/* footer-2 */
#footer2 {
  background-color: #103741;
  color: white;
  padding: 0 12px;
}
.footer2 .main-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 24px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.footer-bottom a {
  text-decoration: none;
  color: white;
}
.footer-bottom .footer-options a {
  margin-right: 15px;
  padding-right: 15px;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bottom a:hover {
  text-decoration: underline;
}

/* to-top */
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active:hover {
  background-color: #f77557;
}

.to-top.active {
  bottom: 40px;
  pointer-events: auto;
  opacity: 1;
  background-color: #fe5d37;
  border-color: #fe5d37;
  color: white;
  border-radius: 0;
  transition: 0.5s;
  z-index: 1000;
  border-radius: 50%;
}
.to-top i {
  font-size: 20px;
  font-weight: 600;
}
